
{% extends "base.html" %}
{% load static %}
{% block content %}
    <head>

        <title>About us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/about.css' %}">
    </head>
    <div class="about-section">
        <h2><p class="font-weight-bold"> About US </p></h2>
        <h4><p class="font-weight-bold"> Coming Soon! </p></h4>
        <p class="font-weight-normal">
"In a time when almost all aspects of our life are transforming for the better, it's time to give the written word a new, wholesome meaning. A revolutionary blogging platform coming your way. Stay tuned for more!"</p>
    <p class="font-weight-normal">A revolutionary blogging platform that is aimed at connecting the best of all worlds through the power of word.
WebBlog doesn't just provide you with amazing content but simultaneously understands its responsibility towards the writers, and therefore helps them to pursue writing professionally.

COMING SOON!</p>
        <br>
    <h4 style="text-align:center" class="font-weight-bold">Our Team of Tutors</h4>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://blogverge.s3.ap-south-1.amazonaws.com/team1.jpg" alt="Shivani" style="width:100%">
      <div class="container">
        <h2>Shivani Arora</h2>
        <p class="title">CEO & Founder</p>
        <p class="font-weight-normal">Some text that describes me lorem ipsum ipsum lorem.</p>
        <p class="font-weight-normal">ShivaniArora@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://blogverge.s3.ap-south-1.amazonaws.com/team2.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p class="font-weight-normal">Some text that describes me lorem ipsum ipsum lorem.</p>
        <p class="font-weight-normal">mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

    <div class="column">
        <div class="card">
          <img src="https://blogverge.s3.ap-south-1.amazonaws.com/team3.jpg" alt="John" style="width:100%">
          <div class="container">
            <h2>John Doe</h2>
            <p class="title">Designer</p>
            <p class="font-weight-normal">Some text that describes me lorem ipsum ipsum lorem.</p>
            <p class="font-weight-normal">johnDoe@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock content %}