{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}

    <div class="media content-section">
                <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'user-post' object.author.username %}">{{ object.author }}</a>
                        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small> &nbsp; <p class="font-weight-normal"> Category : <small class="text-muted">{{ object.category }} </small> &nbsp; Tags :  <small class="text-muted">{{ object.tags }}</small></p>
                        {% if object.author == user %}
                            <div>
                            <a class="btn btn-secondary btn-sn mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                            <a class="btn btn-danger btn-sn mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                            </div>
                        {% endif %}
                    </div>
                    <h3 class="article-title">{{ object.title }}</h3>
                <br>
                    <div class="img-fluid">
                        <img class="img-thumbnail"  src="{{ object.header_image.url }}" style="align-items: center">
                    </div>
                    <p class="article-content">{{ object.content|safe }}</p>
                <br>
                </div>
    </div>

        <div class="media content-section">
        <div class="media-body">
            <br>
            <h4><p class="font-weight-bold"> Comments.. ({{ post.comments.count }}) </p></h4>
            {% if not post.comments.all %}
                No Comments Yet... <a href="{% url 'post-comment' object.id %}">Add One</a>
            {% else %}
                {% for comment in post.comments.all %}
                    <strong class="font-weight-normal">
                        {{ comment.name }} -
                        {{ comment.created_on }}
                    </strong>
                    <p class="font-weight-light">
                        {{ comment.Text }}
                    </p>
                            <button data-toggle="collapse" data-target="#replyBox{{ comment.id }}" aria-expanded="false" aria-controls="replyBox{{ comment.id }}"><i class="fa fa-reply" aria-hidden="true"></i>
                            </button>
                        <div class="collapse" id="replyBox{{ comment.id }}">
                            <div class="card card-body my-2">
                                    <form action="{% url 'reply-comment' pk=post.id %}" method="POST">
                                        {% csrf_token %}
                                        <fieldset class="form-group">
                                            <legend class="border-bottom mb-4">
                                                <h6 class="font-weight-normal"> Reply to this comment </h6>
                                            </legend>
                                            <br>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Comment here</span>
                                                </div>
                                                <textarea class="form-control" aria-label="With textarea" name="comment" ></textarea>
                                            </div>
                                        </fieldset>
                                        <div class="form-group">
                                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                            <button class="btn btn-info" role="button" type="submit" name="submitt" value="{{ post.pk }}">reply</button>
                                        </div>
                                    </form>
                            {% if comment.replies.all %}
                                <p class="font-weight-normal">Replies <code>{{ comment.replies.all.count }}</code></p>
                                {% for reply in comment.replies.all %}
                                    <div class="card-body border-0 pt-0">
                                        <div class="container  pt-0">
                                            <code>by <a  class="card-link"  href="{% url 'profile' pk=reply.user.pk %}">
                                                {{reply.user.username}} </a>
                                            </code>
                                            <div class="container rounded border border-info bg-white pt-0 ml-0">
                                                <p class="font-weight-normal">{{ reply.user.username }} - {{ reply.comment|urlize }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            </div>
                        </div>
                    <hr>
                {% endfor %}
                    <a href="{% url 'post-comment' object.id %}">Add Comment</a>
            {% endif %}

                <br>
                    {% if user.is_authenticated %}
                        <p class="text-muted">Tell us what do you think?. <3 </p>
                        <div class="row">
                        &nbsp; &nbsp;
                        <form action="{% url 'like_post' post.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit"  name="post_id"  value="{{ post.id }}"><i class="fa fa-thumbs-up" aria-hidden="true"></i><p class="font-weight-light"></p></button> - <small class="text-muted">{{ post.total_likes }} Like {{ post.total_likes|pluralize }} </small>
                        </form> &nbsp; &nbsp; &nbsp;
                        <form action="{% url 'dislike_post' post.pk %}" method="post" style="float: right">
                            {% csrf_token %}
                            <button type="submit"  name="post_idd"  value="{{ post.id }}"><i class="fa fa-thumbs-down" aria-hidden="true"></i><p class="font-weight-light"></p></button> - <small class="text-muted">{{ post.total_dislike }} Dislike {{ post.total_dislike|pluralize }} </small>
                        </form>
                        </div>
                    {% else %}
                            <small class="font-weight-normal"><a href="{% url 'login' %}">Login to like</a></small>
                    {% endif %}
                <br>
                <a href="{% url 'blog-home' %}" class="btn btn-info" role="button">Back</a>
                <br>
                <hr>
        </div>
        </div>

{% endblock content %}
