{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}

    <div class="media content-section">
                <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'user-post' object.author.username %}">{{ object.author }}</a>
                        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small> &nbsp; <p class="font-weight-normal"> Category : <small class="text-muted">{{ object.category }}</small></p>
                        {% if object.author == user %}
                            <div>
                            <a class="btn btn-secondary btn-sn mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                            <a class="btn btn-danger btn-sn mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                            </div>
                        {% endif %}
                    </div>
                    <h2 class="article-title">{{ object.title }}</h2>
                    <p class="font-weight-normal">Tags :  <small class="text-muted">{{ object.tags }} </small>
                    <p class="article-content">{{ object.content }}</p>
                <br>
                </div>
                <br>
    </div>
        <div class="media content-section">
        <div class="media-body">

            <br>
            <h4><p class="font-weight-bold"> Comments... </p></h4>
            {% if not post.comments.all %}
                No Comments Yet... <a href="{% url 'post-comment' object.id %}">Add One</a>
            {% else %}
            <br/>
                {% for comment in post.comments.all  %}
                    <strong class="font-weight-normal">
                        {{ comment.name }} -
                        {{ comment.created_on }}
                    </strong>
                    <br/>
                    <p class="font-weight-light">
                    {{ comment.Text }}
                    </p>
                    <hr>

                {% endfor %}
                    <a href="{% url 'post-comment' object.id %}">Add Comment</a>
            {% endif %}

                <br>
                <form action="{% url 'like_post' post.pk %}" method="post">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                            <button type="submit"  name="post_id"  value="{{ post.id }}"><i class="fa fa-thumbs-down" aria-hidden="true"></i><p class="font-weight-light"></p></button> - <small class="text-muted">{{ post.total_dislike }} unlikes </small>
                            <p class="text-muted">like this post? give it a like. <3 </p>
                            <button type="submit"  name="post_id"  value="{{ post.id }}"><i class="fa fa-thumbs-up" aria-hidden="true"></i><p class="font-weight-light"></p></button> - <small class="text-muted">{{ post.total_likes }} likes </small> &nbsp; &nbsp;
                    {% else %}
                        <br>
                            <small class="font-weight-normal"><a href="{% url 'login' %}">Login to like</a></small> &nbsp;
                    {% endif %}
                </form>
                <br>

                <a href="{% url 'blog-home' %}" class="btn btn-info" role="button">Back</a>
                <br>
                <hr>
        </div>
        </div>

{% endblock content %}
