{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    <p class="font-weight-bold"> Publish your passions, your way </p>
                    <p class="text-muted">Create a unique and beautiful story.</p>
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}

