{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
<body>
    <div class="media content-section">
                <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'user-post' object.author.username %}">{{ object.author }}</a>
                        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small> &nbsp; <p class="font-weight-normal"> Category : <small class="text-muted">{{ object.category }} </small> &nbsp; Tags :  <small class="text-muted">{{ object.tags }}</small></p>
                        {% if object.author == user %}
                            <div>
                            <a class="btn btn-secondary btn-sn mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                            <a class="btn btn-danger btn-sn mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                            </div>
                        {% endif %}
                    </div>
                    <h3 class="article-title">{{ object.title }}</h3>
                <br>
                    <div class="img-fluid">
                        <img class="img-thumbnail"  src="{{ object.header_image.url }}" style="align-items: center">
                    </div>
                    <p class="article-content">{{ object.content|safe }}</p>
                <br>
                </div>
                <div class="fb-like" data-href="https://blogverge.herokuapp.com/post/{{ post.id }}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
                <a href="https://twitter.com/share?text={{ object.title }}&ref_src=twsrc%5Etfw&hashtags={{ object.tags }}" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br>
    </div>

        <div class="media content-section">
        <div class="media-body">
            <br>
            <h4><p class="font-weight-bold"> Comments.. ({{ post.comments.count }}) </p></h4>
            {% if not post.comments.all %}
                No Comments Yet... <a href="{% url 'post-comment' object.id %}">Add One</a>
            {% else %}
                {% for comment in post.comments.all %}
                    <strong class="font-weight-normal">
                        {{ comment.name }} -
                        {{ comment.created_on }}
                    </strong>
                    <p class="font-weight-light">
                        {{ comment.Text }}
                    </p>
                    <br>
                    <div class="star-rating">
                        <span class="fa fa-star-o" data-rating="1"></span>
                        <span class="fa fa-star-o" data-rating="2"></span>
                        <span class="fa fa-star-o" data-rating="3"></span>
                        <span class="fa fa-star-o" data-rating="4"></span>
                        <span class="fa fa-star-o" data-rating="5"></span>
                        <input type="hidden" name="whatever" class="rating-value" value="3">
                        <script>
                            var $star_rating = $('.star-rating .fa');

                            var SetRatingStar = function() {
                                return $star_rating.each(function() {
                                    if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
                                        return $(this).removeClass('fa-star-o').addClass('fa-star');
                                    } else {
                                        return $(this).removeClass('fa-star').addClass('fa-star-o');
                                    }
                                });
                            };

                            $star_rating.on('click', function() {
                                $star_rating.siblings('input.rating-value').val($(this).data('rating'));
                                return SetRatingStar();
                            });

                            SetRatingStar();
                        </script>
                        <script type="text/coffeescript" src="star_rating.coffee"></script>
                    </div>
                    <i data-toggle="collapse" data-target="#replyBox{{ comment.id }}" aria-expanded="false" aria-controls="replyBox{{ comment.id }}" class="fa fa-reply" aria-hidden="true"></i>
                        <div class="collapse" id="replyBox{{ comment.id }}">
                            <div class="card card-body my-2">
                                    <form action="{% url 'reply-comment' pk=post.id %}" method="POST">
                                        {% csrf_token %}
                                        <fieldset class="form-group">
                                            <legend class="border-bottom mb-4">
                                                <h6 class="font-weight-normal"> Reply to this comment </h6>
                                            </legend>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">name</span>
                                                </div>
                                                <input name="name" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                            </div>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Comment here</span>
                                                </div>
                                                <textarea class="form-control" aria-label="With textarea" name="comment" ></textarea>
                                            </div>
                                        </fieldset>
                                        <div class="form-group">
                                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                            <button class="btn btn-info" role="button" type="submit" name="submitt" value="{{ post.pk }}">reply</button>
                                        </div>
                                    </form>
                                    {% if comment.replies.all %}
                                        <p class="font-weight-bold">Replies <code>{{ comment.replies.all.count }}</code></p>
                                        {% for reply in comment.replies.all %}
                                            {% if reply in comment.replies.all %}
                                                <div class="container  pt-0">
                                                    <div class="container rounded border border-info bg-white pt-0 ml-0">
                                                        <p class="font-weight-normal"><b>name :</b>&nbsp; {{ reply.name }}</p>
                                                        <p class="font-weight-normal">{{ reply.Text|urlize }}</p>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                            </div>
                        </div>
                    <hr>
                {% endfor %}
                    <a href="{% url 'post-comment' object.id %}">Add Comment</a>
            {% endif %}

                <br>
                    {% if user.is_authenticated %}
                        <p class="text-muted">Tell us what do you think?. <3 </p>
                        <div class="row">
                        &nbsp; &nbsp;
                        <form action="{% url 'like_post' post.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit"  name="post_id"  value="{{ post.id }}"><i class="fa fa-thumbs-up" aria-hidden="true"></i><p class="font-weight-light"></p></button> - <small class="text-muted">{{ post.total_likes }} Like {{ post.total_likes|pluralize }} </small>
                        </form> &nbsp; &nbsp; &nbsp;
                        <form action="{% url 'dislike_post' post.pk %}" method="post" style="float: right">
                            {% csrf_token %}
                            <button type="submit"  name="post_idd"  value="{{ post.id }}"><i class="fa fa-thumbs-down" aria-hidden="true"></i><p class="font-weight-light"></p></button> - <small class="text-muted">{{ post.total_dislike }} Dislike {{ post.total_dislike|pluralize }} </small>
                        </form>
                        </div>
                    {% else %}
                            <small class="font-weight-normal"><a href="{% url 'login' %}">Login to like</a></small>
                    {% endif %}
                <br>
                <a href="{% url 'blog-home' %}" class="btn btn-info" role="button">Back</a>
                <br>
                <hr>
        </div>
        </div>
</body>
{% endblock content %}
